@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  display: block;
}

body {
  font-family: 'Poppins', "Helvetica", "Arial", sans-serif;
  color: #303C6C;
}

.header {
  padding: 80px;
  text-align: center;
  background: #D2FDFF;
}

h1 {
  display: block;
  text-align: center;
  font-size: 4em;
}

.navbar {
  overflow: hidden;
  background-color: #303C6C;
}

.navbar a {
  float: left;
  display: block;
  color: #D2FDFF;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a:hover:not(.active) {
  background-color: #B4DFE5;
  color: #303C6C;
}

.main {
  background-color: #FBE8A6;
}

.past {
  display: flex;
  flex-direction: column;
  padding-top: 0px;
	justify-content: space-evenly;
  flex-flow: row wrap;
  /* border: 1px solid #cfcfcf; */
}

.about {
	align-items: center;
	flex-direction: column;
	padding: 0px;
	/* justify-content: space-evenly; */
}

p, p2 {
	margin: 0px 100px;
	padding-top: 20px;
	max-width: 60em;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #F4976C;
  position: fixed;
  height: 100%
  overflow: auto;
  font-size: 0.75em
  font-family: font-family: 'Poppins', "Helvetica", "Arial", sans-serif;
}

.sidebar a {
  display: block;
  color: #D2FDFF;
  padding: 16px;
  text-decoration: none;
}

.sidebar a:hover:not(.active) {
  background-color: #D2FDFF;
  color: #F4976C;
}

div.main {

  margin-left: 200px;
  padding: 1px 16px;
  height: 2000px;
}

h2 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-top: 30px;
  padding-bottom: 10px;
}

h3 {
  display: block;
  font-size: 1.5em;
  padding: 15px 0 0 10px;
}

.container {
  border-radius: 5px;
  background-color: #FBE8A6;
  padding: 20px;
}

form {
  margin-top: 0em;
}

label {
  cursor: default;
}

input[type=text],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #303C6C;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FBE8A6;
}

.content img {
  padding-bottom: 25px;
}

.about p {
  padding-bottom: 100px;
}

.content img {
  padding-top: 25px;
}

.content ul {
  /* padding-left: 100px; */
  align-items: flex-start;
  padding-bottom: 300px;
}

.lsotp p,
.reddoor p2 {
  padding-bottom: 300px;
}
