@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', "Helvetica", "Arial", sans-serif;
  color: #303C6C;
}

.header {
  padding: 80px;
  text-align: center;
  background: #D2FDFF;
}

h1 {
  display: block;
  text-align: center;
  font-size: 4em;
}

.navbar {
  overflow: hidden;
  background-color: #303C6C;
}

.navbar a {
  float: left;
  display: block;
  color: #D2FDFF;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.main {
  background-color: #FBE8A6;
}

.about {
	align-items: center;
	flex-direction: column;
	padding: 0px;
	justify-content: space-evenly;
}

p {
	margin: 0px 100px;
	padding-top: 20px;
	max-width: 60em;
}


.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #F4976C;
  position: fixed;
  height: 100%
  overflow: auto;
  font-size: 0.75em
  font-family: font-family: 'Poppins', "Helvetica", "Arial", sans-serif;
}

.sidebar a {
  display: block;
  color: #303C6C;
  padding: 16px;
  text-decoration: none;
}

.sidebar a:hover:not(.active) {
  background-color: #B4DFE5;
  color: #F4976C;
}

div.main {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}
